# ignore private terraform variables
*.tfvars

# ignore all public and private keys
*.key
*.pem

# ignore terraform state
*.terraform
*.tfstate
*.tfstate.*

# ignore crash logs
crash.log

# ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ignore cli configuration files
.terraformrc
terraform.rc
